h1{
    color: red;
    text-align: center;
    background-color: rgb(115, 0, 255);
}
#submit-btn{
    background-color: rgb(229, 152, 19);
}
.main{
    text-align: center;
}

.form{
    color:red;
    background-color: black;
}